html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex: 1.2 1.2;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 8px 7px 0px rgba(79,78,79,0.13);
}

header .subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

/* styling for title located in header */
header h1 {
  font-size: 2.3rem;
}

/*styling for 'add book' button*/
header .add {
  height: 41%;
  width: 8%;
  font-size: 0.90rem;
  font-weight: bold;
  border-radius: 0.2rem;
  border: 1px solid rgb(114, 113, 113);
}

/*simple hover effect on addBook Button*/
.add:hover {
  background-color: rgb(228, 228, 228);
}

main {
  flex: 10 10 auto;
  display: flex;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

/*set display to grid*/
/*each row will contain 3 cards*/
main .cards {
  margin-top: 1rem;
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content min-content 1fr min-content; /*fills up vertical space*/
  grid-gap: 1.4rem;
}

/*height and styling of book entry*/
.cards > * {
  height: 18rem;
  border: 2px solid blue;
  border-radius: 0.4rem;
}

/*styling for modal background*/
.modal-background {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

form {
  position: relative;
  background-color: rgb(240, 238, 241);
  height: 35%;
  width: 15%;
  border-radius: 0.4rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
}

/*header of form*/
form h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  word-spacing: -0.5rem;
}

/*remove labels*/
form > label {
  display: none;
}

/*increase font-size of placeholder*/
input[placeholder] {
  font-size: 1rem;
}

/*adjust size of inputs*/
 form > input {
  height: 10%;
  margin: 0 3% 3% 3%;
  border-radius: 0.3rem;
  border: 1px solid black;
}

fieldset {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  border: none;
}

fieldset label {
  margin-top: 0.2rem;
  font-size: 1.2rem;
}

form button[type="submit"] {
  height: 13%;
  margin: 2% 3.5% 3.5% 3.5%;
  border-radius: 0.3rem;
  border: 1px solid black;
  font-size: 1rem;
  background-color: #9FFF9C;
  border: none;
}

form button[type="submit"]:hover {
  background-color: #7aeb76;
}