html,
body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  flex: 1.2 1.2;
  display: flex;
  justify-content: center;
  position: relative;
  box-shadow: 0px 8px 7px 0px rgba(79,78,79,0.13);
}

header .subcontainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

/*styling for 'add book' button*/
header .add {
  height: 40%;
  width: 8%;
  font-size: 0.90rem;
  font-weight: bold;
  border-radius: 0.2rem;
  border: 1px solid rgb(114, 113, 113);
}

/*simple hover effect on addBook Button*/
.add:hover {
  background-color: rgb(228, 228, 228);
}

main {
  flex: 10 10 auto;
  display: flex;
  justify-content: center;
  background-color: rgb(245, 245, 245);
}

/*set display to grid*/
/*each row will contain 3 cards*/
main .cards {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: min-content min-content 1fr min-content; /*fills up vertical space*/
  grid-gap: 1.4rem;
}

/*height and styling of book entry*/
.cards > * {
  height: 18rem;
  border: 2px solid blue;
  border-radius: 0.4rem;
}

/*styling for modal background*/
.modal-background {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

form {
  position: relative;
  background-color: rgb(240, 238, 241);
  border: 2px solid red;
  height: 35%;
  width: 15%;
  border-radius: 0.4rem;
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
}

/*header of form*/
form h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  word-spacing: -0.5rem;
}

/*remove labels*/
label {
  display: none;
}

/*increase font-size of placeholder*/
input[placeholder] {
  font-size: 1rem;
}

/*display label for checkbox*/
fieldset label[for="read"] {
  display: block;
  font-size: 1.2rem;
}

/*adjust size of inputs*/
input {
  height: 10%;
  margin: 0 2% 2% 2%;
  border-radius: 0.4rem;
}

fieldset {
  margin: 0;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: none;
}

button[type="submit"] {
  height: 12%;
}